__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
.venv/
.env
venv/
*.log
*.sqlite3
instance/
yutb/
download/
transcriptions/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Unit test / coverage reports
*.cover
*.py,cover
.coverage
nosetests.xml
coverage.xml
*.cover.html

# If using pytest-cov
cov/

# If using tox
.tox/

# Alembic files
alembic.ini
alembic/README