{% extends "base.html" %}

{% block title %}
    Dashboard
{% endblock %}


{% block content %}

<body>
    <h1>Dashboard</h1>
    <h2>Pliki audio</h2>
    <ul>
        {% for file in audio_files %}
        <li>
            <a href="{{ url_for('download_file', filename=file) }}">{{ file }}</a>
        </li>
        {% endfor %}
    </ul>
    <h2>Transkrypcje</h2>
    <ul>
        {% for file in transcription_files %}
        <li>
            <a href="{{ url_for('download_file', filename=file) }}">{{ file }}</a>
        </li>
        {% endfor %}
    </ul>
    <p>
        <a href="{{ url_for('index') }}">Powrót do strony głównej</a>
    </p>
</body>

{% endblock %}
