{% extends "base.html" %}

{% block title %}
    Help
{% endblock %}


{% block content %}
<div class="text-center" style="max-width: 400px; margin: 0 auto; padding: 20px; border: 2px solid #EEE; border-radius: 15px; background-color: #0f0d21; font-size: 1.2em;">
    <h2>N E W &nbsp; C O N T E N T</h2>
    <p>- Paste the URL of the YouTube video.</p>
    <p>- You can set the tempo of the audio track that will be transcribed 
        (set by default to x1.5, which shortens the generation time and generally retains adequate quality for transcription).</p>
    <p>- Check the checkboxes for the types of content to generate.</p>
    <p>- Press G E N E R A T E to generate social media content.</p>
    <br>

    <h2>T O K E N S</h2>
    <p>- Each click of G E N E R A T E costs one token.</p>
    <p>- User gets to use 3 tokens.</p>
    <br>

    <h2>D A S H B O A R D</h2>
    <p>- Through the dashboard, you have access to generated content and notes.</p>
    <p>- You can watch the YouTube content.</p>
    <br>

    <a href="https://www.linkedin.com/in/jan-misiurek-a503b4278" target="_blank" style=" font-size: 16px; margin-right: 18px;">A U T H O R</a>
    
</div>

{% endblock %}