{% extends "base.html" %}

{% block title %}
Y U T B
{% endblock %}

{% block content %}
<div class="text-center">
    <h1>Y U T B</h1>
    <form method="POST" action="/playground" class="form-inline d-flex justify-content-center">
        <div class="form-group mx-sm-3 mb-2">
            <label for="url" class="sr-only">youtube url:</label>
            <input type="url" class="form-control" id="url" name="url" required placeholder="YouTube URL">
        </div>
        <br>
        <br>
        <div class="form-group mx-sm-3 mb-2" style="text-align: center;">
            <span style="display: inline; vertical-align: middle;">T E M P O :</span>
            <output id="tempoOutput" style="display: inline; color: #f6ffc9; vertical-align: middle;">1.5</output>
            <input type="range" min="1" max="2" step="0.25" value="1.5" class="slider" id="tempo" name="tempo"><br>
        </div>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="tweet" name="content_types" value="tweet_single" checked>
            <label class="form-check-label" for="tweet">T W E E T</label><br>
            <input type="checkbox" class="form-check-input" id="tweet_thread" name="content_types" value="tweet_thread">
            <label class="form-check-label" for="tweet_thread">T W E E T&nbsp;&nbsp;T H R E A D</label><br>
            <input type="checkbox" class="form-check-input" id="linkedin_post" name="content_types" value="linkedin_post">
            <label class="form-check-label" for="linkedin_post">L I N K E D I N&nbsp;&nbsp;P O S T</label><br>
        </div>
        <h3>
            <button type="submit" >G E N E R A T E</button>
        </h3>
        <br>
    </form>

        <a href="{{ url_for('help') }}" style=" font-size: 16px; margin-right: 18px;">H E L P</a>

</div>

<script>
    var tempoSlider = document.getElementById("tempo");
    var tempoOutput = document.getElementById("tempoOutput");
    tempoSlider.oninput = function() {
        tempoOutput.value = this.value;
    }
    // set initial output value to match the slider
    tempoOutput.value = tempoSlider.value;
</script>

{% endblock %}
