{% extends "base.html" %}

{% block title %}
Y U T B
{% endblock %}

{% block content %}
<div class="text-center">
    <h1>Y U T B</h1>
    <form method="POST" action="/" class="form-inline d-flex justify-content-center">
        <div class="form-group mx-sm-3 mb-2">
            <label for="url" class="sr-only">youtube url:</label>
            <input type="url" class="form-control" id="url" name="url" required placeholder="YouTube URL">
        </div>
        <button type="submit" >S U B M I T</button>
    
        <br>
        <div class="form-group mx-sm-3 mb-2" style="text-align: center;">
            <output id="tempoOutput", style="color: #f6ffc9">1</output>
            <input type="range" min="1" max="2" step="0.25" value="1" class="slider" id="tempo" name="tempo"><br>
            
        </div>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="tweet" name="content_types" value="tweet_single">
            <label class="form-check-label" for="tweet">Tweet</label><br>
            <input type="checkbox" class="form-check-input" id="tweet_thread" name="content_types" value="tweet_thread">
            <label class="form-check-label" for="tweet_thread">Tweet Thread</label><br>
            <input type="checkbox" class="form-check-input" id="linkedin_post" name="content_types" value="linkedin_post">
            <label class="form-check-label" for="linkedin_post">LinkedIn Post</label><br>
        </div>
    </form>
    
    <p>
        <a href="{{ url_for('dashboard2') }}" style=" font-size: 16px; margin-right: 18px;">D A S H B O A R D</a>
        <a href="{{ url_for('dashboard') }}" style=" font-size: 16px;">S 3&nbsp;&nbsp;F I L E S</a>
    </p>
</div>

<script>
    var tempoSlider = document.getElementById("tempo");
    var tempoOutput = document.getElementById("tempoOutput");
    tempoSlider.oninput = function() {
        tempoOutput.value = this.value;
    }
</script>

{% endblock %}

