<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="2"> <!-- This line will refresh the page every 5 seconds -->
    <title>Job Status</title>
</head>
<body>
    <h4>Job Status: {{ job_status }}</h4>
    <p>
        <a href="{{ url_for('index') }}">Powrót do strony głównej</a>
    </p>
    <p>
        <a href="{{ url_for('dashboard') }}">dashboard</a>
    </p>
    <p>
        <a href="{{ url_for('dashboard2') }}">dashboard2</a>
    </p>    
</body>
</html>
