{% extends "base.html" %}

{% block title %}
    {{ name }}
{% endblock %}

{% block content %}
<body>
    <div class="container">

        <style>
            /* ... Twoje style CSS ... */
            .content-container {
                max-width: 400px;
                margin: 0 auto;
                padding: 20px;
                border: 2px solid #1DA1F2;
                border-radius: 15px;
                background-color: #FFFFFF;
                font-size: 1.2em; 
                color: #000000;
                margin-bottom: 20px;
            }
        </style>

        <h1>{{ name }}</h1>
        <div>        
            <form method="POST">
                <h3>
                    <button type="submit" style="vertical-align: middle">G E N E R A T E</button>
                    S O C I A L&nbsp;&nbsp;M E D I A &nbsp;&nbsp;C O N T E N T
    
                </h3>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="tweet" name="content_types" value="tweet_single">
                    <label class="form-check-label" for="tweet">T W E E T</label><br>
                    <input type="checkbox" class="form-check-input" id="tweet_thread" name="content_types" value="tweet_thread">
                    <label class="form-check-label" for="tweet_thread">T W E E T&nbsp;&nbsp;T H R E A D</label><br>
                    <input type="checkbox" class="form-check-input" id="linkedin_post" name="content_types" value="linkedin_post">
                    <label class="form-check-label" for="linkedin_post">L I N K E D I N&nbsp;&nbsp;P O S T</label><br>
                </div>
    

        {% if social_media_content %}
        <h2>Social Media Content</h2>

        <div class="content-container">
            <h3>Tweet</h3>
            <p>{{ social_media_content.tweet_gpt4|replace('\n', '<br>')|safe }}</p>
        </div>

        <div class="content-container">
            <h3>Tweet Thread</h3>
            <p>{{ social_media_content.tweet_thread_gpt4|replace('\n', '<br>')|safe }}</p>
        </div>

        <div class="content-container">
            <h3>LinkedIn Post</h3>
            <p>{{ social_media_content.linkedin_post_gpt4|replace('\n', '<br>')|safe }}</p>
        </div>

        {% endif %}

        <h2>GPT-4</h2>
        <div class="content-container">
            <p>{{ notes_gpt4|replace('\n', '<br>')|safe }}</p>
        </div>

        <p>
            <a href="{{ url_for('user_dashboard') }}">back to dashboard</a>
        </p>

    </div>
</body>
{% endblock %}
