{% extends "base.html" %}

{% block title %}
    {{ name }}
{% endblock %}

{% block content %}
<body>
    <div class="container">

        <style>
            h1, h2, h3 {
                color: #faffe1;
                padding-bottom: 15px;
            }
            form {
                margin: 20px 0;
                padding: 20px;
                background-color: rgba(0, 0, 0, 0.3);
            }
            input[type="checkbox"] {
                transform: scale(1.5);
                margin-right: 10px;
            }
            table {
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
                border-collapse: separate;
                border-spacing: 0 15px;
            }
            th, td {
                padding: 15px;
                background-color: rgba(0, 0, 0, 0.3);
            }
            a {
                padding: 10px 20px;
                background-color: rgba(0, 0, 0, 0.3);
                color: #faffe1;
                transition: all 0.3s ease;
                border-radius: 5px;
            }
            a:hover {
                color: #327ab7;
                text-decoration: none;
            }
        </style>

        <h1>{{ name }}</h1>

        <form method="POST">
            <h3>Generate Social Media Content:</h3>
            <input type="checkbox" id="tweet" name="content_types" value="tweet">
            <label for="tweet">Tweet</label><br>
            <input type="checkbox" id="tweet_thread" name="content_types" value="tweet_thread">
            <label for="tweet_thread">Tweet Thread</label><br>
            <input type="checkbox" id="linkedin_post" name="content_types" value="linkedin_post">
            <label for="linkedin_post">LinkedIn Post</label><br>
            <input type="submit" value="Generate">
        </form>
        <br>

        {% if social_media_content %}
        <table>
            <tr>
                <th>GPT-3.5</th>
                <th>GPT-4</th>
            </tr>
            <tr>
                <td>{{ social_media_content.tweet_gpt35|safe }}</td>
                <td>{{ social_media_content.tweet_gpt4|safe }}</td>
            </tr>
            <tr>
                <td>{{ social_media_content.tweet_thread_gpt35|safe }}</td>
                <td>{{ social_media_content.tweet_thread_gpt4|safe }}</td>
            </tr>
            <tr>
                <td>{{ social_media_content.linkedin_post_gpt35|safe }}</td>
                <td>{{ social_media_content.linkedin_post_gpt4|safe }}</td>
            </tr>
        </table>
        {% endif %}

        <h2>GPT-4 Notes</h2>
        <p>{{ notes_gpt4|safe }}</p>

        <p>
            <a href="{{ url_for('dashboard2') }}">Powrót do dashboard</a>
        </p>

    </div>
</body>
{% endblock %}
